/* Importando a fonte da Netflix */
@font-face {
    font-family: 'NetflixSans-Regular';
    src: url('font/NetflixSans-Regular.woff2') format('woff2');
    font-weight: normal;
    /* Peso normal (regular) */
}

@font-face {
    font-family: 'NetflixSans-Light';
    src: url('font/NetflixSans-Light.woff2') format('woff2');
    font-weight: 300;
    /* Peso light */
}

@font-face {
    font-family: 'NetflixSans-Medium';
    src: url('font/NetflixSans-Medium.woff2') format('woff2');
    font-weight: 500;
    /* Peso medium */
}

@font-face {
    font-family: 'NetflixSans-Bold';
    src: url('font/NetflixSans-Bold.woff2') format('woff2');
    font-weight: bold;
    /* Peso bold */
}

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'NetflixSans-Regular', sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    color: #fff;

}

header {
    /* z-index: 999; */
    position: absolute;
    height: fit-content;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem
}

main {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 135px;
    height: auto;
    margin: 1.5rem 2.2rem;
}

.logo:hover {
    cursor: pointer;
}

p {
    margin: 0;
    padding: 0;
}

.menu-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-logo span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0.6rem;
}

.menu-logo span:hover {
    cursor: pointer;
    color: #fff;
}

.menu-logo .inicio {
    color: #fff;
}

.menu-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.2rem;
}

.menu-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.2rem;
}

.menu-user i {
    margin: auto;
    padding: 0 1rem;
}

.menu-user i:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);

}

.menu-user img:hover {
    cursor: pointer;
}

.menu-user img {
    margin: auto;
    padding-left: 1rem;
}

.app__background {
    height: 100vh;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.9) 5%,
            rgba(0, 0, 0, 0.2) 20%,
            rgba(0, 0, 0, 0.2) 80%,
            rgba(0, 0, 0, 0.8) 100%),
        url(./images/banner.png);
    background-size: cover;
    padding: 0.26rem 0.75rem 0 0.75rem;
    display: flex;
}

.banner-info {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 60px;
    padding-bottom: 20px;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    top: 25vh;
}

.poster-filme {
    width: 450px;
    height: auto;
}

.descricao {
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
    max-width: 500px;
    width: 100vw;
    padding-top: 5px;
}

.buttons button:hover {
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    font-size: 10px;
}

.buttons button {
    width: fit-content;
    padding: 0.6rem 2rem;
    margin-top: 15px;
    border-radius: 2.5px;
    font-size: 16px;
}

.assistir {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'NetflixSans-Bold', sans-serif;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    margin-right: 10px;
    border: solid transparent;
}

.assistir:hover {
    background-color: rgba(255, 255, 255, 0.777);
}

.mais-informacoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'NetflixSans-Bold', sans-serif;
    margin-left: 10px;
    background-color: rgba(109, 109, 110, 0.7);
    border: solid transparent;
    color: #fff
}

.mais-informacoes:hover {
    background-color: rgba(109, 109, 110, 0.525);
}

i {
    margin-right: 10px;
}

.categoria {
    height: 200px;
    margin-top: 120px;
}

.categoria__minha-lista {
    margin-top: 120px;
}

.categoria__titulo {
    color: #e5e5e5e5;
    font-size: 18px;
    line-height: 17px;
    font-weight: 600;
}

section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
    gap: 0.5rem;
}

.item {
    padding: 0 2px;
    transition: 250ms all;
}

.item img {
    max-width: 100%;
    margin-bottom: 7.5px;
    transition: 250ms ease;
}

.item img:hover {
    cursor: pointer;
    transform: scale(1.1);
    margin-bottom: 0;
}